In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline 

from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [3]:
df = pd.read_csv('../data/서울특별시 부동산 실거래가 정보.csv', encoding="UTF-8")
df.head()

C:\Users\Minji\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (1,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,실거래가아이디,지번코드,시군구코드,자치구명,법정동코드,법정동명,신고년도,업무구분코드,업무구분,신고일자,물건번호,대지권면적,건물면적,관리구분코드,층정보,건물주용도코드,건물주용도,물건금액,건축년도
0,11110-2019-4-0003026-1,1111017900101990000,11110,종로구,1.111018e+09,홍파동,2019,4,신고,NaN,1,0.00,84.93,0,5.0,2001,아파트,1505000000,2017.0
1,11110-2019-4-0003296-1,1111018000101260000,11110,종로구,1.111018e+09,교북동,2019,4,신고,NaN,1,0.00,45.88,0,8.0,2001,아파트,970000000,2017.0
2,11110-2019-4-0003311-1,1111017500100760000,11110,종로구,1.111018e+09,숭인동,2019,4,신고,NaN,1,0.00,84.95,0,20.0,2001,아파트,780000000,2004.0
3,11110-2019-4-0003228-1,1111010500100980002,11110,종로구,1.111010e+09,창성동,2019,4,신고,NaN,1,47.64,83.34,0,1.0,2002,연립주택,608000000,2000.0
4,11110-2019-4-0003796-1,1111018000101260000,11110,종로구,1.111018e+09,교북동,2019,4,신고,NaN,1,0.00,45.88,0,10.0,2001,아파트,980000000,2017.0

In [4]:
df.columns

Index(['실거래가아이디', '지번코드', '시군구코드', '자치구명', '법정동코드', '법정동명', '신고년도', '업무구분코드',
       '업무구분', '신고일자', '물건번호', '대지권면적', '건물면적', '관리구분코드', '층정보', '건물주용도코드',
       '건물주용도', '물건금액', '건축년도'],
      dtype='object')

In [5]:
view_columns = ['자치구명','신고년도','건물주용도','물건금액','건물면적']
df_1 = df[view_columns]
df_1.head()

  자치구명  신고년도 건물주용도        물건금액   건물면적
0  종로구  2019   아파트  1505000000  84.93
1  종로구  2019   아파트   970000000  45.88
2  종로구  2019   아파트   780000000  84.95
3  종로구  2019  연립주택   608000000  83.34
4  종로구  2019   아파트   980000000  45.88

In [6]:
df_apt=df_1[(df_1['건물주용도']=='아파트') & (df['신고년도']>2016)]
df_apt.head()

  자치구명  신고년도 건물주용도        물건금액   건물면적
0  종로구  2019   아파트  1505000000  84.93
1  종로구  2019   아파트   970000000  45.88
2  종로구  2019   아파트   780000000  84.95
4  종로구  2019   아파트   980000000  45.88
6  종로구  2019   아파트  1540000000  84.94

In [16]:
df_apt.isnull()

          자치구명   신고년도  건물주용도   물건금액   건물면적
0        False  False  False  False  False
1        False  False  False  False  False
2        False  False  False  False  False
4        False  False  False  False  False
6        False  False  False  False  False
...        ...    ...    ...    ...    ...
2078320  False  False  False  False  False
2078321  False  False  False  False  False
2078323  False  False  False  False  False
2078325  False  False  False  False  False
2078326  False  False  False  False  False

[265511 rows x 5 columns]

In [12]:
df_apt.dtypes

자치구명       object
신고년도        int64
건물주용도      object
물건금액        int64
건물면적      float64
면적당 금액    float64
dtype: object

In [13]:
# 소수점 2번째 자리까지 표기
pd.options.display.float_format = '{:.2f}'.format

In [14]:
df_apt['면적당 금액'] = (df_apt['물건금액']/df_apt['건물면적'])
df_apt.head()

C:\Users\Minji\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

  자치구명  신고년도 건물주용도        물건금액  건물면적      면적당 금액
0  종로구  2019   아파트  1505000000 84.93 17720475.69
1  종로구  2019   아파트   970000000 45.88 21142109.85
2  종로구  2019   아파트   780000000 84.95  9181871.69
4  종로구  2019   아파트   980000000 45.88 21360069.75
6  종로구  2019   아파트  1540000000 84.94 18130445.02

In [15]:
df_apt['자치구명'].unique()

array(['종로구', '중구', '광진구', '용산구', '성동구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구', nan],
      dtype=object)

In [62]:
df_result = df_apt[['자치구명','면적당 금액']]
df_result.head(10)

   자치구명      면적당 금액
0   종로구 17720475.69
1   종로구 21142109.85
2   종로구  9181871.69
4   종로구 21360069.75
6   종로구 18130445.02
13  종로구  7079882.45
20   중구  6453337.41
23  광진구  4838109.42
24  광진구 13036827.86
25  광진구  5548246.87

In [89]:
df_gu =df_result.unstack(level=0)
df_gu

자치구명    0                 종로구
        1                 종로구
        2                 종로구
        4                 종로구
        6                 종로구
        13                종로구
        20                 중구
        23                광진구
        24                광진구
        25                광진구
        26                광진구
        27                광진구
        29                광진구
        30                광진구
        31                용산구
        32                 중구
        33                용산구
        36                종로구
        303               용산구
        339               성동구
        404                중구
        405               광진구
        408                중구
        409               종로구
        410                중구
        411               종로구
        412                중구
        413                중구
        414                중구
        415                중구
                      ...
면적당 금액  2078283   17424242.42
        2078284   11049723.76
        2078285   18870149.78
        2078286   11536197.76
        2078288    8842175.51
        2078290   17676767.68
        2078292   21221410.04
        2078293   10837376.35
        2078294    7546536.98
        2078295   13895430.99
        2078296    7161271.84
        2078297   25955555.56
        2078298   11278195.49
        2078300    8034987.79
        2078304    5494984.74
        2078305   10237702.99
        2078306   16934656.18
        2078307    7905604.72
        2078310    8002667.56
        2078311   14127619.50
        2078315   16664993.47
        2078316   16865776.53
        2078317   17166951.11
        2078318   18788343.56
        2078319    8886534.84
        2078320   10723221.73
        2078321    6449385.44
        2078323   14419069.84
        2078325   15910780.67
        2078326   14646725.12
Length: 531022, dtype: object

In [28]:
df_gu_group = df_result.groupby(['자치구명'], as_index=False).mean()
df_gu_group

    자치구명      면적당 금액
0    강남구 16792285.10
1    강동구  8657699.64
2    강북구  5633643.51
3    강서구  7185404.66
4    관악구  6432920.10
5    광진구  9212259.12
6    구로구  5988299.16
7    금천구  5477183.11
8    노원구  5984068.74
9    도봉구  5078014.49
10  동대문구  6998307.96
11   동작구  8727416.36
12   마포구 10001772.19
13  서대문구  7640500.34
14   서초구 14312853.28
15   성동구 10094433.64
16   성북구  6577054.07
17   송파구 11918780.96
18   양천구  8537784.13
19  영등포구  8409967.63
20   용산구 11720165.38
21   은평구  6510932.44
22   종로구  8239766.38
23    중구  8712816.02
24   중랑구  5542867.08

In [ ]:
df_gu_group